In [13]:
import duckdb
import pandas as pd

In [14]:
sql_query =''' 
show tables 
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query).df())

                      name
0  parking_violation_codes
1  parking_violations_2024

In [15]:
sql_query_import_1 ='''
create or replace table parking_violation_codes as
select * from read_csv_auto('data/parking_violation_codes.csv',
normalize_names=true,
delim=',',
quote='"',
escape='"')
'''

sql_query_import_2 ='''
create or replace table parking_violations_2024 as
select * from read_csv_auto('data/all_records.csv',
normalize_names=true,
delim=',',
quote='"',
escape='"')
'''   

with duckdb.connect('data/nyc_parking_violations.db') as con:
    con.sql(sql_query_import_1)
    con.sql(sql_query_import_2)
    
    display(con.sql('select * from parking_violations_2024 limit 5').df())  
    display(con.sql('select * from parking_violation_codes limit 5').df())

,summons_number,plate_id,registration_state,plate_type,issue_date,violation_code,vehicle_body_type,vehicle_make,issuing_agency,street_code1,...,vehicle_color,unregistered_vehicle,vehicle_year,meter_number,feet_from_curb,violation_in_front_of_or_opposite,house_number,time_first_observed,violation_description,violation_legal_code
0,1159637337,KZH2758,NY,PAS,2023-06-09,67,VAN,HONDA,P,0,...,BLUE,0,2006,-,0,None,None,None,None,<NA>
1,1252960645,JPD8746,NY,PAS,2023-06-30,87,SUBN,LINCO,M,17870,...,GRAY,0,2020,-,0,O,51,None,None,<NA>
2,1252960669,JPD8746,NY,PAS,2023-06-30,31,SUBN,LINCO,M,17870,...,GRAY,0,2020,-,0,O,51,None,None,<NA>
3,1252994126,MBH9245,99,PAS,2023-07-06,20,SDN,KIA,M,12690,...,WHITE,0,0,-,0,F,39-41,None,None,<NA>
4,1252994175,MBH9245,PA,PAS,2023-07-08,40,SDN,KIA,M,12690,...,WHITE,0,0,-,0,F,39-41,None,None,<NA>

,violation_code,violation_description,manhattan_96th_st_below_fine_amount,all_other_areas_fine_amount
0,1,FAILURE TO DISPLAY BUS PERMIT,515,515
1,2,NO OPERATOR NAM/ADD/PH DISPLAY,515,515
2,3,UNAUTHORIZED PASSENGER PICK-UP,515,515
3,4,BUS PARKING IN LOWER MANHATTAN,115,115
4,5,BUS LANE VIOLATION,50,50